-
  var reviews = {
    header: 'Отзывы о пансионате <br>для пожилых людей «Лесной хутор»',
    items: [
      {
        text: 'Хочу выразить благодарность персоналу центра заботы. Пока был на стажировке, здесь 3 месяца жили мои родители. Персонал на связи 24 часа и всегда готовы предоставить любую информацию или пригласить к телефону.',
        name: 'Вишняков Кирилл'
      },
      {
        text: 'Наш отец всегда хотел жить в деревне. Но из-за здоровья пришлось переехать в Москву, где ему было стало слишком шумно и тяжело дышать. Сейчас живет в Осеченках, ему природа нравится и свежий воздух. Да и в любой момент может внуков навестить, ведь до нас всего полчаса ехать В центре заботы работают настоящие профессионалы.',
        name: 'Анна'
      },
      {
        text: 'Наш отец всегда хотел жить в деревне. Но из-за здоровья пришлось переехать в Москву, где ему было стало слишком шумно и тяжело дышать. Сейчас живет в Осеченках, ему природа нравится и свежий воздух. Да и в любой момент может внуков навестить, ведь до нас всего полчаса ехать В центре заботы работают настоящие профессионалы.',
        name: 'Анна'
      },
    ]
  }

.reviews#reviews
  .container
    h2.reviews__header !{reviews.header}
    .reviews-items.owl-carousel
      each item in reviews.items
        .reviews__item
          .reviews__item-text !{item.text}
          .reviews__item-name !{item.name}
