-
  var services = {
    header: 'Предоставляемые услуги',
    items: [
      {
        header: 'Гигиенический уход',
        list: [ 'утреннее и вечернее умывание', 'помощь в приеме душа', 'помощь в приеме пищи', 'стрижка ногтей и волос', 'уборка суден' ]
      },
      {
        header: 'Бытовое обслуживание',
        list: [ 'стирка одежды, смена <br>постельного белья раз в неделю <br>или по необходимости', 'ежедневная влажная <br>уборка комнат', 'кварцевание', '5-разовое питание, <br>адаптированное для постояльцев <br>с диабетом и заболеваниями ЖКТ' ]
      },
      {
        header: 'Медицинское сопровождение',
        list: [ 'еженедельный осмотр терапевтом', 'измерение температуры <br>и давления утром и вечером', 'лечебная физкультура', 'контроль за приемом лекарств', 'массаж (дополнительная услуга)' ]
      },
    ],
    text: 'В индивидуальном порядке оформляется вызов врачей узкого профиля'
  }

.services#services
  .container
    h2.services__header !{services.header}
    .services-items.flex.jcsb
      each item in services.items
        .services__item
          p.services__item-header !{item.header}
          ul.services__item-list
            each li in item.list
              li.services__item-list-item !{li}
    .services__text !{services.text}
